@charset "UTF-8";

#top_menu {
	font-size: 17px;
}
#top_menu a {
	text-decoration: none;
	color: #292b2b;
}

li {
	display: flex;gap: 10rem;justify-content: center;align-items: center;height: 20px;
}
span {font-weight: bold;}

.menu-nav {flex-wrap: nowrap;}

.menu-inner a {
  white-space: nowrap; /* 줄 바꿈 방지 */
  min-width: 60px; /* 글자가 너무 좁아지지 않도록 최소 너비 설정 */
  text-align: center; /* 가운데 정렬 */
  flex-shrink: 0; /* 크기가 줄어들지 않도록 고정 */
}

@media all and (min-width:768px) and (max-width:1023px) {
	li{gap: 5rem;}
}

@media all and (min-width:480px) and (max-width:767px) {
	#top_menu {font-size: 15px;}
	li{gap: 2rem;}
	.my_btn{display: none;}
}
@media all and (max-width:479px) {
	#top_menu {font-size: 15px;}
	li{gap: 2rem;}
	.my_btn i{display: none;}
}