@charset "UTF-8";

.join-wrap h3 {
text-align: center;
    color: black;
    font-size: 150%;
    font-weight: bolder;
    margin: 2rem auto 1rem;
}

#memo {
    text-align: center;
    font-size: 0.8rem;
    color: black;
    margin-bottom: 1rem;
    font-weight: 500;
}

#sign-up-container, #sign-in-container {
    display: inline-block;
    padding: 2rem;
}

#form-container {
    height: auto;
    display: flex
;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 10px auto 30px;
}

#form-inner-container {
    background-color: white;
    max-width: 70%;
    border-radius: 8px;
    border: 1px solid black;
    background: white;
}

#joinForm .row.last-row {
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: 1px solid #eee;
    margin-bottom: 1rem;
}

section.row.last-row > div {
    display: flex
;
    flex-direction: column;
    gap: 10px;
}