@charset "UTF-8";

.content {
	width: 1200px;
	margin: auto;
	padding-top: 50px;
}

.all {
	display: flex;
}

.first-info {
	display: flex;
	flex-direction: column;
	width: 200px;
	padding-top: 10px;
	gap: 10px;
}

.first-info li {
	height: auto;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    list-style: none;
}

.second-info {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 10px;
}

.second-info li {
	width: calc(50% - 5px);
	height: auto;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    list-style: none;
}

.first-cate:not(:first-of-type) {
	margin-top: 15px;
}

.first-cate:hover{
	cursor: default;
}

.second-cate:hover, .first-info li:hover, .all-cate:hover {
	cursor: pointer;
	background-color: #f2a900;
}

.second-info li.first-cate, .second-info li.all-cate {
	font-weight: bold;
	width: 100%;
}

.first-info, .second-info {
    position: sticky;
    top: 100px;
    background-color: #fff;
    z-index: 10;
}