@charset "UTF-8";

#content {
	width: 1200px;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 20px;
}

.two {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
}

#title, #selectCate {
	font-size: 18px;
}

#title {
	width: 180px;
}

#best, #new {
	display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

#category {
	display: flex;
	flex-direction: column;
	width: 180px;
}

#category li {
	display: flex;
	align-items: center;
    box-sizing: border-box;
    list-style: none;
    border: none;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    height: 60px;
    
}

#category li:last-child {
  border-bottom: 1.5px solid #ccc;
}

#category li:hover {
	cursor: pointer;
	background-color: #f2a900;
}

#img12 {
	display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.prdImg {
	width: 310px;
	height: 310px;
	object-fit: cover;
}

.prdImg-div {
	position: relative;
}

.product_posting {
	width: 310px;
	font-weight: 600;
}

.product_posting > a {
	text-decoration: none;
    color: #292b2b;
}

.price {
	display: flex;
	align-items: center;
    gap: 15px;
}

.dc {
	color: #f2a900;
	font-size: 23px;
}

.prdOp, .prdSp {
	font-size: 18px;
}

.prdOp {
	color: #808893;
    text-decoration: line-through;
}

.prdBd {
	background-color: #f2a900;
    width: 67px;
    height: 25px;
    color: white;
    text-align: center;
    font-size: 15px;
}

.heart {
	position: absolute;
    cursor: pointer;
    right: 10px;
    bottom: 10px;
    font-size: 32px;
    z-index: 10;
    color: #f2a900;
}

.product_posting a:hover, .two a:hover {
	font-weight: bold;
}

.product_posting .prdImg-div {
	overflow: hidden; /* 확대될 때 바깥으로 튀어나오는 부분 잘라냄 */
}
.product_posting .prdImg-div img {
	transition: transform 0.3s ease; /* 부드러운 확대 */
}

.product_posting:hover img {
	transform: scale(1.05); /* 5% 확대 */
}

/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px) */
@media all and (min-width:1024px) and (max-width:1279px) {
    #best {
    	padding-left: 15px;
    }
}
/* 테블릿 가로 (해상도 768px ~ 1023px) */
@media all and (min-width:768px) and (max-width:1023px) {
	#best {
    	padding-left: 15px;
    }
}
/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px) */
@media all and (min-width:480px) and (max-width:767px) {
	#best {
    	padding-left: 15px;
    }
    #img12 .first, #img12 .second, #img12 .third{
    	display: block;
    }
}
/* 모바일 세로 (해상도 ~ 479px) */
@media all and (max-width:479px) {
	#best {
    	padding-left: 15px;
    }
    #img12 .first, #img12 .second, #img12 .third{
    	display: block;
    }
}
