@charset "UTF-8";

body {font-family: "Noto Sans KR", sans-serif;}


.backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 8px;
    margin: 10px auto;
    font-size: 1.2rem;
    color: #000;
    transition: color 0.3s ease;
}

.backBtn:hover {
    color: #666;
}



@media all and (min-width:1280px) and (max-width:1920px){
footer {padding-bottom: 0px !important;}
.logo {position: relative;top: 2rem;width: 180px;}
.join1 {display: flex;justify-content: center;align-items: center;text-align: center;flex-direction: column; margin-bottom: 11rem;}
.memberform {padding: 20vh;width: 90vh;height: 90vh;box-sizing: border-box;margin-top: 10px;background: #fff;border-radius: 20px;box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.1);}
.HEAD_22 {font-size: 2rem;padding: 2rem;}
.css-1wnzdoc {padding: 5px; margin: -4px;}
.css-1oi39wj {
    width: 100%;
    padding: 11px 16px;
    border: 1px solid rgb(228, 230, 233);
    background: rgb(255, 255, 255);
    font-weight: bold;
    color: rgb(32, 36, 41);
    border-radius: 6px;
    height: 52px;
    font-size: 16px;
    box-sizing: border-box;
}
.BODY_153 {
    margin-top: 10px;
    width: 100%;
    padding: 13px 0;
    font-size: 12px;
    color: #fff;
    background: #000;
    border-radius: 8px;
    cursor: pointer;
}
.BODY_13 {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
    line-height: 1.5;
}
}

@media all and (min-width:1024px) and (max-width:1279px){
footer {padding-bottom: 0px !important;}
.logo {position: relative;top: 2rem;width: 180px;}
.join {display: flex;justify-content: center;align-items: center;text-align: center;flex-direction: column;padding-bottom: 10rem;}
.memberform {padding: 20vh;width: 90vh;height: 90vh;box-sizing: border-box;margin-top: 10px;background: #fff;border-radius: 20px;box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.1);}
.HEAD_22 {font-size: 2rem;padding: 2rem;}
.css-1wnzdoc {padding: 5px; margin: -4px;}
.css-1oi39wj {
    width: 100%;
    padding: 11px 16px;
    border: 1px solid rgb(228, 230, 233);
    background: rgb(255, 255, 255);
    font-weight: bold;
    color: rgb(32, 36, 41);
    border-radius: 6px;
    height: 52px;
    font-size: 16px;
    box-sizing: border-box;
}
.BODY_153 {
    margin-top: 10px;
    width: 100%;
    padding: 13px 0;
    font-size: 12px;
    color: #fff;
    background: #000;
    border-radius: 8px;
    cursor: pointer;
}
.BODY_13 {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
    line-height: 1.5;
}
}

@media all and (min-width:768px) and (max-width:1023px){
footer {padding-bottom: 0px !important;}
.logo {position: relative;top: 2rem;width: 180px;}
.join {display: flex;justify-content: center;align-items: center;text-align: center;flex-direction: column;padding-bottom: 3rem;}
.memberform {padding: 20vh;width: 90vh;height: 90vh;box-sizing: border-box;margin-top: 10px;background: #fff;border-radius: 20px;box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.1);}
.HEAD_22 {font-size: 2rem;padding: 2rem;}
.css-1wnzdoc {padding: 5px; margin: -4px;}
.css-1oi39wj {
    width: 100%;
    padding: 11px 16px;
    border: 1px solid rgb(228, 230, 233);
    background: rgb(255, 255, 255);
    font-weight: bold;
    color: rgb(32, 36, 41);
    border-radius: 6px;
    height: 52px;
    font-size: 16px;
    box-sizing: border-box;
}
.BODY_153 {
    margin-top: 10px;
    width: 100%;
    padding: 13px 0;
    font-size: 12px;
    color: #fff;
    background: #000;
    border-radius: 8px;
    cursor: pointer;
}
.BODY_13 {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
    line-height: 1.5;
}
}

@media all and (min-width:480px) and (max-width:767px){
footer {padding-bottom: 0px !important;}
.logo {position: relative;top: 2rem;width: 180px;}
.join {display: flex;justify-content: center;align-items: center;text-align: center;flex-direction: column;padding-bottom: 3rem;}
.memberform {padding: 20vh;width: 90vh;box-sizing: border-box;margin-top: 10px;background: #fff;border-radius: 20px;box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.1);}
.HEAD_22 {font-size: 2rem;padding: 2rem;}
.css-1wnzdoc {padding: 5px; margin: -4px;}
.css-1oi39wj {
    width: 100%;
    padding: 11px 16px;
    border: 1px solid rgb(228, 230, 233);
    background: rgb(255, 255, 255);
    font-weight: bold;
    color: rgb(32, 36, 41);
    border-radius: 6px;
    height: 52px;
    font-size: 16px;
    box-sizing: border-box;
}
.BODY_153 {
    margin-top: 10px;
    width: 100%;
    padding: 13px 0;
    font-size: 12px;
    color: #fff;
    background: #000;
    border-radius: 8px;
    cursor: pointer;
}
.BODY_13 {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
    line-height: 1.5;
}
}

@media all and (max-width:479px) {
footer {padding-bottom: 0px !important;}
.logo {position: relative;top: 2rem;width: 180px;}
.join {display: flex;justify-content: center;align-items: center;text-align: center;flex-direction: column;padding-bottom: 3rem;}
.memberform {padding: 20vh;width: 90vh;box-sizing: border-box;margin-top: 10px;background: #fff;border-radius: 20px;box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.1);}
.HEAD_22 {font-size: 2rem;padding: 2rem;}
.css-1wnzdoc {padding: 5px; margin: -4px;}
.css-1oi39wj {
    width: 100%;
    padding: 11px 16px;
    border: 1px solid rgb(228, 230, 233);
    background: rgb(255, 255, 255);
    font-weight: bold;
    color: rgb(32, 36, 41);
    border-radius: 6px;
    height: 52px;
    font-size: 16px;
    box-sizing: border-box;
}
.BODY_153 {
    margin-top: 10px;
    width: 100%;
    padding: 13px 0;
    font-size: 12px;
    color: #fff;
    background: #000;
    border-radius: 8px;
    cursor: pointer;
}
.BODY_13 {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
    line-height: 1.5;
}
}

.nav{
    background: #fff;
    max-width: 600px;
    margin: 0 auto;
}

.joinNav{
    height: 80px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 0px 12px;
    box-sizing: border-box;
    z-index: 2;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    max-width: 600px;
    margin: auto;
}

.joinNav-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.joinNav-inner2{
    text-align: center;
    flex: 2 1 0%;
}

.joinNav-inner3{
    text-align: right;
    flex: 1 1 0%;
}

.css-ds6z7l{
    margin: auto;
    padding-top: 52px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: calc(env(safe-area-inset-bottom) + 48px);
    background: rgb(255, 255, 255);
    max-width: 600px;
    display: block;
}

.css-1bwfwm7{
    display: flex;
    flex-direction: column;
    padding: 20px 16px;
    row-gap: 10px;
}

.css-1ff3op5 {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.css-1rmy86f{
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}

.css-1wnzdoc {
    margin: 8px 0px;
}

.css-1ycs6v8{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.css-8lsbin{
    display: flex;
    align-items: center;
    position: relative;
    right: -8px;
}

.css-1746nmm{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    color: rgb(184, 191, 194);
}

#logo {
    align-items: center;
    width: 180px;
}

.css-ds6z7l {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.1);
    padding: 20vh;
    width: 90vh;
    box-sizing: border-box;
    margin-top: 10px;
}

.ft {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    padding: 20px 0;
}

.backBtn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 8px;
    font-size: 1.2rem;
    color: #000;
    transition: color 0.3s ease;
    z-index: 1000;
}

