@charset "UTF-8";



.IconList-div, .two, .buyer-info {
	width: 1200px;
	margin: auto;
}

.two, .buyer-info {
	padding-bottom: 30px;
}

.two {
	padding-top: 50px;
}

.buyer-info {
	display: flex;
    justify-content: space-between;
}

.myPageIcon {
	display: flex;
	flex-wrap: wrap;
    align-content: center;
	height: 100px;
	justify-content: space-evenly;
	font-size: 18px;
	text-align: center;
}

.myPageIcon > li {
	flex: 1;
	display: flex;
    align-items: center;
    justify-content: center;
	height: 100px;
	border-right: 1px solid black;
}

.myPageIcon > li:last-child {
	border-right: none;
}

.myPageIcon > li:hover {
	cursor: pointer;
}