@charset "UTF-8";

.content {
	width: 1200px;
	margin: auto;
}

#cards {
	display: flex;
	gap: 10px;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px solid black;
	width: 400px;
	padding: 10px;
}

.product {
	border: 1px solid black;
	width: 380px;
	padding: 10px;
}