@charset "UTF-8";

#myPage {
	min-height: 520px; 
}

.IconList-div, .two, .buyer-info {
	width: 1200px;
	margin: auto;
}

.content {
	display: flex;
	height: 300px;
}

.two, .buyer-info {
	padding-bottom: 30px;
}

.two {
	padding-top: 50px;
}

.two h2 {
	font-size: 24px;
}

.nickName {
	font-size: 18px;
}

.buyer-info {
	display: flex;
    justify-content: space-between;
}

.myPageIcon {
	display: flex;
	flex-wrap: wrap;
    align-content: center;
	height: 100px;
	justify-content: space-evenly;
	font-size: 18px;
	text-align: center;
}

.myPageIcon > li {
	flex: 1;
	display: flex;
    align-items: center;
    justify-content: center;
	height: 100px;
	border-right: 1px solid black;
}

#modify, #logout {
	height: 50px;
  	font-size: inherit;
  	border-radius: 8px;
  	cursor: pointer;
}

.myPageIcon > li:last-child {
	border-right: none;
}

.myPageIcon > li:hover {
	cursor: pointer;
}