@charset "UTF-8";

.content {
	width: 1200px;
	margin: auto;
	padding-top: 50px;
}

.all {
	display: flex;
}
.all-cate{
	height: 21px;
    width: 183px;
}

.first-info {
	display: flex;
	flex-direction: column;
	width: 200px;
	padding-top: 10px;
	gap: 10px;
}
.first-cate {
	grid-column: span 2;
	font-weight: bold;
	padding: 10px;
	border-radius: 6px;
	color: #f2a900;

}
.first-info li {
    text-align: center;
    padding: 10px;
    list-style: none;
    
}

.second-info li {
    box-sizing: border-box;
    text-align: center;
    list-style: none;
    border-radius: 5px;
}
.second-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열로 */
  gap: 10px;
  padding: 0;
  list-style: none;
  padding: 10px;
}
#liAll{
	height: 31px;
	color: #f2a900;
}
.second-cate {
  padding: 8px 12px;
  text-align: center;
  border-radius: 4px;
}
.second-info{
	width: 450px;
}
.first-cate:not(:first-of-type) {
	margin-top: 15px;
}

.first-cate:hover{
	cursor: default;
}

.second-cate:hover, .first-info li:hover, .all-cate:hover {
	cursor: pointer;
	border-bottom: 2px solid #f2a900;
}

.second-info li.first-cate, .second-info li.all-cate {
	font-weight: bold;
}

.first-info, .second-info {
    position: sticky;
    top: 100px;
    background-color: #fff;
    z-index: 10;
}