@charset "UTF-8";

#content {
	width: 1200px;
	margin: auto;
	padding-bottom: 20px;
}

.two {
	margin-bottom: 20px;
}

#best, #new {
	display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

#category {
	display: flex;
	flex-direction: column;
	width: 200px;
	padding-top: 10px;
	gap: 10px;
}

#category li {
	height: auto;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    list-style: none;
}

#category li:hover {
	cursor: pointer;
	background-color: #f2a900;
}

#img12 {
	display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.prdImg {
	width: 280px;
	height: auto;
}

.product_posting {
	width: 280px;
	font-weight: 600;
}

.product_posting > a {
	text-decoration: none;
    color: #292b2b;
}

.price {
	display: flex;
	align-items: center;
    gap: 15px;
}

.dc {
	color: #f2a900;
	font-size: 23px;
}

.prdOp, .prdSp {
	font-size: 18px;
}

.prdOp {
	color: #808893;
    text-decoration: line-through;
}

.prdBd {
	background-color: #f2a900;
    width: 67px;
    height: 25px;
    color: white;
    text-align: center;
    font-size: 15px;
}

/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px) */
@media all and (min-width:1024px) and (max-width:1279px) {
    #best {
    	padding-left: 15px;
    }
}
/* 테블릿 가로 (해상도 768px ~ 1023px) */
@media all and (min-width:768px) and (max-width:1023px) {
	#best {
    	padding-left: 15px;
    }
}
/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px) */
@media all and (min-width:480px) and (max-width:767px) {
	#best {
    	padding-left: 15px;
    }
    #img12 .first, #img12 .second, #img12 .third{
    	display: block;
    }
}
/* 모바일 세로 (해상도 ~ 479px) */
@media all and (max-width:479px) {
	#best {
    	padding-left: 15px;
    }
    #img12 .first, #img12 .second, #img12 .third{
    	display: block;
    }
}
