@charset "UTF-8";

.content {
	display: flex;
    gap: 10px;
    width: 1200px;
    min-height: 520px;
    margin: auto;
    flex-direction: column;
}

.card-body {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#cards {
	display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 30px;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 12px;
	border: 1px solid #ddd;
	padding: 16px;
	border-radius: 16px;
	background: #fff;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.top {
	display: flex;
	justify-content: space-between;
}

.prd-info {
	display: flex;
	gap: 10px;
}

.prd-img {
	width: 180px;
    height: 180px;
    object-fit: cover;
}

.order-btn {
	height: 39px;
    font-size: inherit;
    border-radius: 8px;
    cursor: pointer;
	width: 82px;
}

#prd-link {
	color: #292b2b;
	text-decoration: none;
}

.right-info {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.price {
	display: flex;
	flex-direction: column;
}

.original {
	text-decoration: line-through;
	color: #808893;
	font-size: 13px;
}

.salePrice {
	color: #f2a900;
	font-weight: 600;
    font-size: 22px;
}

.date {
	text-align: right;
}

.store, .prdName {
	font-weight: 600;
}

sup {
	vertical-align: super;
	font-size: 15px;
}

.heart {
	position: absolute;
    cursor: pointer;
    right: 10px;
    bottom: 10px;
    font-size: 32px;
    z-index: 10;
    color: #f2a900;
}

.yellow {
	color: #f2a900;
}

.prdImg {
	position: relative;
}