@charset "UTF-8";

.content {
	width: 1200px;
	min-height: 520px;
	margin: auto;
}

#cards {
	display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 30px;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 12px;
	border: 1px solid #ddd;
	padding: 16px;
	border-radius: 16px;
	background: #fff;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.filled {
	color: #f2a900;
}

.empty {
	color: lightgray;
}

.top {
	display: flex;
	justify-content: space-between;
}

.star {
	font-size: 30px;
}

.review-img {
	width: 120px;
	height: 120px;
	object-fit: cover;
}

.prdName {
	font-weight: 600;
}

.options, .bodySize {
	color: #808893
}

.nick, .reivewCon {
	font-weight: 500;
}

#radio-search {
	display: flex;
	flex-direction: column;
	padding: 20px 0 20px 0;
	gap: 10px;
}

.reviewImg {
	display: flex;
	gap: 10px;
}
