@charset "UTF-8";
.product-container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    max-width: 1160px;
    margin: 40px auto;
    padding: 20px;
}
#product,.product-container {
	display: flex;
	justify-content: space-between;
    align-items: flex-start;

}
/* .product-container img { */
/*     width: 400px; */
/*     height: auto; */
/*     border-radius: 10px; */
/*     object-fit: cover; */
/* } */

.product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-info h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.product-info p {
    font-size: 18px;
    color: #666;
}

.product-info .discount {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-right: 16px;
    
}
.dc {
	font-size: 30px;
	color : #f2a900;
	padding-right: 17px;
}
.button-container {
    display: flex;
    gap: 14px;
    margin: 20px 52px 0 16px;
}
.option-box {
    background-color: #f5f5f5; 
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 0 52px 0 16px;
    width: 38%;
}
#scrollToBottom {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #a1a9ad;
    border: none;
    border-radius: 39px;
    margin: 5px;
    position: fixed;
    width: 3rem;
    right: 20px;
    bottom: 166px;
    z-index: 9999;
    cursor: pointer;
}
#scrollToTop{
	padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #a1a9ad;
    border: none;
    border-radius: 39px;
    margin: 5px;
    position: fixed;
    width: 3rem;
    right: 20px;
    bottom: 210px;
    z-index: 9999;
    cursor: pointer;
}

.scroll-button:hover {
    background-color: #0056b3;
}
select {
    margin: 0 52px 0 16px;
    color: #202429;
    font-size: 16px;
    line-height: 50px;
    border-radius: 6px;
    width: 64%;
    height: 50px;
    padding: 10px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
}
.cart-btn:hover, .wishlist-btn:hover {
    background-color: #f0f0f0; /* 호버 시 배경색 */
}

.cart-btn, .wishlist-btn {
    border: 1px solid #e3e5e8 !important;
    border-radius: 5px; /* 테두리 모서리 둥글게 */
    padding: 10px; /* 버튼 안의 여백 */
    background-color: transparent; /* 버튼 배경을 투명하게 */
    cursor: pointer; /* 마우스를 올리면 포인터 모양으로 변경 */
    display: inline-flex; /* 버튼 안의 내용이 가로로 배치되도록 */
    justify-content: center; /* 내용이 가운데로 정렬 */
    align-items: center; /* 내용이 세로로 정렬 */
}
.cart-btn i, .wishlist-btn i {
    color: #000;
    font-size: 20px;
}
.button-container button {
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
.original-price{
	text-decoration: line-through;
	color: #808893;
	font-size: 20px;
}
#price {
	display: flex;
}

.buy-now {
    background-color: black;
    color: white;
}
div > a {
	text-decoration: none;
	color: #333;	
}
div > a > i {
	padding-right: 13px
} 
.npay {
    background-color: #f2a900;
    color: white;
}
#prdDetailBar{
    display: flex;
    margin: auto;
    gap: 290px;
    font-size: 20px;
    padding: 20px 17px 20px 525px; 
    text-align: center;
    position: sticky;
    top: 100px;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

#prdDetailBar ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    display: inline-block;
    margin-right: 20px;
}

#prdDetailBar li {
    display: inline;
}

#detailEp{
	text-align: center;
	margin-bottom: 10px;
}
#loadMoreBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: #242729;
    border: 1px solid #242729;
    border-radius: 42px;
    cursor: pointer;
    width: 43%;
    height: 44px;
}
#detailEp img, #moreItems img {
    display: block;  
    margin: 0 auto;
    margin-bottom: 10px; 
}
#selAnthor div p {
	color: #242729;
	padding-bottom: 15px;
	font-size: 24px;
}
#selAnthor {
	margin: 20px auto;
    width: 46%;
}
#selAnthorprd {
	display: flex;
	flex-wrap: wrap;  /* 줄 바꿈 허용 */
    gap: 20px;
}
#selAnthorprd img {
    width: calc(33.33% - 10px); /* 3개씩 배치 (여백 고려) */
    max-width: 278px;
    height: auto;
}
#selAnthorTitle{
	display: flex;	
	justify-content: space-between; 
	border-top: 1px solid #e8e9eb;
	padding-top: 10px;
}
.small-text {
    font-size: 15px;
    vertical-align: middle;
}
#picks{
    padding-top: 25px;	
}