@charset "UTF-8";

#buyerStatus {
	display: flex;
	justify-content: flex-end;
	gap: 15px;
}

.selectStatus {
	display: inline-flex; /* 또는 inline-block */
	align-items: center; 
}


#buyerListTable tr td:nth-child(2):hover {
	font-weight: bold;
    cursor: pointer;	
}