@charset "UTF-8";

#subTitle {
	font-size: 20px;
	color: #f2a900;
}

.left-table{
	padding: 0 20px 0 20px;
}

#left-session {
	padding-left: 25px;
}

.btn-yellow {
	color: white;
	background-color: #f2a900;
}

.text-yellow {
	color: #f2a900;
}

#adminTitle {
	font-size: 24px;
	font-weight: 500;
	letter-spacing: normal !important;
}

.border-left-yellow {
	border-left: 0.25rem solid #f2a900;
}

.card {
	height: 694px;
}

#body-card {
	display: flex;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    flex-direction: column;
}

.id-top {
	font-weight: 500;
	font-size: 20px;
}

.modal-close {
	background-color: black;
	color: white;
}