@charset "UTF-8";

#admin-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main_container {
	display: flex;
}
.container {
	max-width: 1200px;
	width: 1200px;
  	margin-bottom: 10px;
  	border: 1px solid #ecedee;
  	border-radius: 20px;
  	padding: 10px 0 10px 10px; 
}
side_bar {
	width: 100%;
}
.login_ul .logout_btn {
	border-right: 0;
}
.sidebar {
     width: 180px;
     height: 88vh;
     background-color: #333;
     color: white;
     padding: 20px;
     top: 0;
     left: 0;
     overflow-y: auto;
     transition: transform 0.3s ease;
 }
.login_div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;
	margin-right: 480px;
	font-size:large;
}
.login_div a {
	color: #292B2B;
}
.login_ul {
	display: flex;
}
 .sidebar.hidden {
     transform: translateX(-100%);
 }

 .menu-item {
     margin-bottom: 10px;
 }

 .menu-title {
     display: block;
     color: white;
     padding: 10px;
     text-decoration: none;
     font-weight: bold;
     cursor: pointer;
     background-color: #444;
     border-radius: 5px;
 }

 .menu-title:hover {
     background-color: #555;
 }

 .submenu {
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.3s ease-out;
     padding-left: 15px;
 }

 .submenu.open {
     max-height: 200px; /* 충분한 높이 설정 */
 }

 .submenu li {
     padding: 5px 0;
 }

 .submenu a {
     display: block;
     color: #ddd;
     padding: 8px;
     text-decoration: none;
     border-radius: 5px;
 }

 .submenu a:hover {
     background-color: #555;
 }
