@charset "UTF-8";

.join{
	max-width: 600px;
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
    margin: 0px auto;
}

.nav{
    background: #fff;
    max-width: 600px;
    margin: 0 auto;
 
}

.backBtn{
	background-color: white;
	border: none;
}

.joinNav{
	height: 80px;
    background: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 12px;
    box-sizing: border-box;
    z-index: 2;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    max-width: 600px;
    margin: auto;
}

.joinNav-inner{
	flex: 1 1 0%;
}

.joinNav-inner2{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    flex: 2 1 0%;
}

.joinNav-inner3{
	text-align: right;
    flex: 1 1 0%;
}

.backBtn{
	display: flex;
    padding-right: 8px;
}

.formspan{
	font-weight: 600;
	font-size: 16px;
    line-height: 19px;
}

.css-ds6z7l{
	margin: auto;
    padding-top: 52px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: calc(env(safe-area-inset-bottom) + 48px);
    background: rgb(255, 255, 255);
    max-width: 600px;
    display: block;
}

.css-1wr8iut{
    width: 100%;
    height: 100%;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    background-color: inherit;
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
}




.BODY_13{
	font-weight: 600;
	display: inline-block;
    margin: 0 0 4px 8px;
    color: #828A8F;
    font-size: 13px;
    line-height: 16px;
    background-color: transparent;
}

.BODY_15{
	border: 1px solid;
	font-weight: 700;
	border-radius: 24px;
    white-space: pre;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 14px 24px;
    min-height: 50px;
    min-width: 74px;
    margin: 16px 0px 24px;
    width: 100%;
    font-size: 15px;
    line-height: 18px;
    cursor: pointer;
}

.css-1lhlb22{
border-radius: 24px;
    white-space: pre;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 14px 24px;
    min-height: 50px;
    min-width: 74px;
    background: black;
    color: #FFFFFF;
    margin: 16px 0 24px;
    width: 100%;
}

.BODY_15,
.css-1lhlb22,
.css-1wr8iut {
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

#logo {
	align-items: center;
	width: 180px;
}

