@charset "UTF-8";
 .chart-area {
     height: auto !important;
 }
.col-xl-4 {
 	height: 400px !important;
 }
 .mb-400 {
	width: 500px !important;
 }
 .ma {
     margin-top: 17px;
}
#fa{
	color: #f2a900 !important;
}
#searchBtn{
	color: white;
	background-color: black;
}