<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.unipick.mapper.AdminMapper">
	<!-- 관리자 정보 조회 -->
	<select id="adminInfo" parameterType="map">
		SELECT *
		  FROM admins
		 WHERE adm_id = #{admId}
		 <if test="rememberMe != null">
		   AND adm_pw = #{admPw}
		 </if>
	</select>
	
	<!-- 관리자 정보 수정 -->
	<update id="adminEdit" parameterType="map">
		UPDATE admins
		   SET adm_pw = #{admPw}
		 WHERE adm_id = #{admId}
	</update>
	
	<!--   	코드 등록 -->
  	<insert id="registerDB" parameterType="map">
	  	INSERT INTO common_code (
			  	com_cd, 
			  	com_nm,
			  	com_yn
		) VALUES (
		 		#{com_cd}, 
		 		#{com_nm}, 
		 		#{com_yn}
			 	)
  	</insert>
  	
	<!--   	코드 수정 -->
  	<update id="updateDB" parameterType="map">
	  	UPDATE common_code
		   SET com_nm = #{com_nm},
			   com_yn = #{com_yn}
		 WHERE com_cd = #{com_cd}
  	</update>
  	
	<!--   	코드 조회 -->
  	<select id="codeList" parameterType="map">
	  	SELECT COUNT(*) OVER () - ROW_NUMBER() OVER (ORDER BY com_nm DESC) + 1 AS com_nb,
	  			   com_cd, 
	  			   com_nm, 
	  			   com_yn
	  	  FROM common_code
	  	  where 1 = 1
	  	  <choose>
		   	<when test="com_cd != null and !com_cd.equals('')">
		   		AND com_cd LIKE CONCAT(#{com_cd}, '%')
		   	</when>
		   	<when test="com_nm != null and !com_nm.equals('')">
		   		AND com_nm LIKE CONCAT(#{com_nm}, '%')
		   	</when>
	     </choose>
  	</select>
  	
  	<!-- 코드 삭제 -->
  	<delete id="deleteDB" parameterType="map">
	  	DELETE FROM common_code 
	  	 WHERE com_cd = #{com_cd}
  	</delete>
	
	<!-- 상세 코드 조회 -->
  	<select id="detailCodeList" parameterType="map">
	  	SELECT COUNT(*) OVER () - ROW_NUMBER() OVER (ORDER BY d.cod_cd DESC) + 1 AS cod_nb,
	    	   c.com_cd,
	    	   c.com_nm,
	    	   d.cod_cd,
	    	   d.cod_nm,
	    	   d.cod_yn,
	    	   d.cod_pr,
	    	   d.cod_so
		  FROM common_code c
		  JOIN common_detailcode d ON c.com_cd = d.com_cd
		 where 1 = 1
		 <choose>
		   	<when test="com_cd != null and !com_cd.equals('')">
		   		AND c.com_cd LIKE CONCAT(#{com_cd}, '%')
		   	</when>
		   	<when test="cod_cd != null and !cod_cd.equals('')">
		   		AND d.cod_cd LIKE CONCAT(#{cod_cd}, '%')
		   	</when>
		   	<when test="cod_nm != null and !cod_nm.equals('')">
		   		AND d.cod_nm LIKE CONCAT(#{cod_nm}, '%')
		   	</when>
	     </choose>
  	</select>
  	
  	<!-- 상세 코드 등록 -->
  	<insert id="detailcoderegister" parameterType="map">
  		INSERT into common_detailcode(
  			   com_cd,
  			   cod_cd,
  			   cod_nm,
  			   cod_yn,
  			   cod_so
  			   )
  		VALUES(#{com_cd},
			   #{cod_cd},
			   #{cod_nm},
			   #{cod_yn},
			   #{cod_so})
  	</insert>
  	
	<!--   	상세 코드 수정 -->
  	<update id="updateDBcodeDetail" parameterType="map">
	  	UPDATE common_detailcode
		   SET cod_cd = #{cod_cd},
		   	   cod_nm = #{cod_nm},
		   	   cod_so = #{cod_so},
			   cod_yn = #{cod_yn}
		 WHERE cod_cd = #{beforecod_cd}
  	</update>
  	
	<!--   	상세 코드 삭제 -->
  	<delete id="updateDBcodeDelete" parameterType="map">
	  	DELETE FROM common_detailcode
	  	 WHERE cod_cd = #{cod_cd}
  	</delete>
  	
	<!--   계층 코드 등록 -->
  	<insert id="insertLvCode" parameterType="map">
	  	INSERT INTO level (
			  	lev_cd, 
			  	lev_nm,
			  	lev_so,
			  	lev_yn
		) VALUES (
		 		#{lev_cd}, 
		 		#{lev_nm},
		 		#{lev_so}, 
		 		#{lev_yn}
			 	)
  	</insert>
  	
	<!--   	계층 코드 수정 -->
  	<update id="updateLvCode" parameterType="map">
	  	UPDATE level
		   SET lev_nm = #{lev_nm},
		   	   lev_so = #{lev_so},
			   lev_yn = #{lev_yn}
		 WHERE lev_cd = #{lev_cd}
  	</update>
  	
	<!--   	계층 코드 조회 -->
  	<select id="selectLvCode" parameterType="map">
	  	SELECT COUNT(*) OVER () - ROW_NUMBER() OVER (ORDER BY lev_nm DESC) + 1 AS lev_nb,
	  			   lev_cd, 
	  			   lev_nm,
	  			   lev_so,
	  			   lev_yn
	  	  FROM level
	  	  where 1 = 1
	  	  <choose>
		   	<when test="lev_cd != null and !lev_cd.equals('')">
		   		AND lev_cd LIKE CONCAT(#{lev_cd}, '%')
		   	</when>
		   	<when test="lev_nm != null and !lev_nm.equals('')">
		   		AND lev_nm LIKE CONCAT(#{lev_nm}, '%')
		   	</when>
	     </choose>
  	</select>
  	
	<!-- 계층 코드 삭제 -->
  	<delete id="deleteLvCode" parameterType="map">
	  	DELETE FROM level 
	  	 WHERE lev_cd = #{lev_cd}
  	</delete>
  	
  	<!-- 사이드 메뉴 -->
  	<select id="sideMainMenuList">
  		SELECT lev_cd,
  			   lev_nm,
  			   lev_so,
  			   lev_yn
  		  FROM level
  		 WHERE lev_cd LIKE CONCAT(#{menu}, '%')
  		   AND CHAR_LENGTH(lev_cd) = 9
  		   AND lev_yn = 'y'
  		 ORDER BY lev_so
  	</select>
  	
  	<select id="sideSubMenuList">
  		SELECT lev_cd,
  			   lev_nm,
  			   lev_so,
  			   lev_yn
  		  FROM level
  		 WHERE lev_cd LIKE CONCAT(#{menu}, '%')
  		   AND CHAR_LENGTH(lev_cd) = 11
  		   AND lev_yn = 'y'
  		 ORDER BY lev_so
  	</select>
  	
</mapper>