<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.unipick.mapper.SellerMapper">
<!-- 	셀러 회원가입 -->
	<insert id="sellerjoin" parameterType="map">
		INSERT INTO sellers(sel_id, 
					        sel_pw, 
					        sel_nm, 
					        adm_id, 
					        sel_rn,
					        sel_mn,
					        sel_cs, 
					        sel_br, 
					        sel_ad, 
					        sel_bf, 
					        sel_st,
					        sel_mp,
					        sel_at
		  )VALUES (#{storeId},
			 	   #{storePw},
			 	   #{storeNm},
			 	   'admin',
			 	   #{ceoNm},
			 	   #{phNm},
			 	   #{storeNumber},
			 	   #{brn},
			 	   #{storead},
			 	   #{sel_bf},
			 	   'ss01',
			 	   #{phNumber},
			 	   DEFAULT)
			 		
	</insert>
	
	<select id="sellerselect" resultType="map">
		select sel_id
		  from sellers
		 where sel_id = #{storeId}
	</select>
	
	<!-- 상품 상세 조회 -->
	<select id="productDetail" parameterType="map">
		SELECT p.prd_nm,
			   p.prd_ct,
			   p.prd_cd,
			   p.prd_op,
			   p.prd_sp,
			   p.prd_ca,
			   p.prd_sf,
			   p.prd_bd
		  FROM products p
		 WHERE p.prd_cd = #{prd_cd}
	</select>
	
	<!-- 상품 상세 조회 옵션 -->
	<select id="productOption" parameterType="map">
		SELECT o.opt_id,
			   o.clr_cd,
			   o.clr_nm,
			   o.prd_qt,
			   cd.cod_nm
		  FROM options o
		  JOIN common_detailcode cd ON o.siz_nm = cd.cod_cd
		 WHERE prd_cd = #{prd_cd}
		 ORDER BY opt_id
	</select>
	
	<!-- 상품 이미지 -->
	<select id="productImage" parameterType="map">
		SELECT fil_nm,
			   fil_pt
		  FROM product_images
		 WHERE prd_cd = #{prd_cd}
	</select>
	
<!-- 	주문 상세 조회 -->
	<select id="sellerOrdPrdDetail" parameterType="map">
	 SELECT pd.prd_cd,
	 		pd.prd_nm,
	 		cd.cod_nm,
	 		ot.clr_nm,
	 		odd.odd_qt,
		    bu.buy_em,
		    bu.buy_nm,
		    bu.buy_ph,
		    od.ord_ad,
		    od.ord_dm, 
	        od.ord_nm,
	        od.ord_ph,
	        odd.odd_am,
	        od.ord_pm
	   FROM products pd 
	   JOIN options ot
		 ON pd.prd_cd = ot.prd_cd
	   JOIN order_details odd
		 ON ot.opt_id = odd.opt_id
	   JOIN orders od 
		 ON odd.ord_id = od.ord_id
	   JOIN buyers bu
		 ON od.buy_em = bu.buy_em
	   JOIN common_detailcode cd
         ON ot.siz_nm = cd.cod_cd
      WHERE od.ord_id = #{ord_id}
	</select>
	
<!-- 	셀러 계정 찾기 -->
	<select id="otpSellerInfo" parameterType="String">
     SELECT sel_id,
     		sel_pw
       FROM sellers
      WHERE sel_mp = #{userPhone}
      	AND sel_id = #{sel_id}
	</select>
	
<!-- 	로그인시 셀러 이름 -->
	<select id="getSellerNameById">
	 SELECT sel_nm
	   FROM sellers
	  WHERE sel_id = #{sel_id}
	</select>

	<!-- 상품 업데이트 -->
	<update id="productUpdate" parameterType="map">
		UPDATE products
		   SET prd_nm = #{prd_nm},
		   	   prd_ct = #{prd_ct},
		   	   prd_ca = #{prd_ca},
		   	   prd_sf = #{prd_sf},
		   	   prd_op = #{prd_op},
		   	   prd_sp = #{prd_sp},
		   	   prd_bd = #{prd_bd}
		 WHERE prd_cd = #{prd_cd}
	</update>
	
	<!-- 상품 옵션 삭제 -->
	<delete id="productOptionDelete" parameterType="list">
		DELETE FROM options
	    WHERE opt_id IN
	    <foreach collection="list" item="opt_id" open="(" separator="," close=")">
	        #{opt_id}
	    </foreach>
	</delete>
	
	<!-- 상품 옵션 저장 -->
	<insert id="productOptionInsert" parameterType="list">
	    INSERT INTO options (opt_id,
	    					 prd_cd,
	    					 siz_nm,
	    					 clr_cd,
	    					 clr_nm,
	    					 prd_qt)
	    			VALUES
	    <foreach collection="list" item="option" separator=",">
	        (default, #{option.prd_cd}, #{option.siz_nm}, #{option.clr_cd}, #{option.clr_nm}, #{option.prd_qt})
	    </foreach>
	</insert>

	<!-- 상품 옵션 업데이트 -->
    <update id="productOptionUpdate" parameterType="list">
    	<foreach collection="list" item="option" separator=";">
	    	UPDATE options
	    	   SET prd_cd = #{option.prd_cd},
	    	   	   siz_nm = #{option.siz_nm},
	    	   	   clr_cd = #{option.clr_cd},
	    	   	   clr_nm = #{option.clr_nm},
	    	   	   prd_qt = #{option.prd_qt}
	    	 WHERE opt_id = #{option.opt_id}
    	 </foreach>
    </update>
	
	<!-- 상품 이미지 업데이트 -->
	<insert id="productImageUpdate" parameterType="map">
	    INSERT INTO product_images(
	        prd_cd,
	        fil_nm,
	        fil_pt,
	        ntc_ca,
	        ntc_ua,
	        fil_nb)
	    VALUES(
	        #{prd_cd}, 
	        #{fil_nm}, 
	        #{fil_pt}, 
	        default,
	        default, 
	        #{fil_nb})
	    ON DUPLICATE KEY UPDATE
	        fil_nm = #{fil_nm},
	        fil_pt = #{fil_pt}
	</insert>
	
	<!-- 상품 삭제 -->
	<delete id="productDelete" parameterType="map">
		DELETE
		  FROM products
		 WHERE prd_cd = #{prd_cd}
	</delete>
	
	<!-- 상품 이미지 삭제 -->
	<delete id="productImgDelete" parameterType="map">
		DELETE
		  FROM product_images
		 WHERE prd_cd = #{prd_cd}
	</delete>
	
<!-- 	판매자 메인 신규주문  -->
	<select id="newOrdCount" parameterType="map">
	 SELECT count(o.ord_id)
	   FROM orders o
	   LEFT JOIN order_details d
		 ON o.ord_id = d.ord_id
	   LEFT JOIN options t
	     ON d.opt_id = t.opt_id
	   LEFT JOIN products p
	     ON t.prd_cd = p.prd_cd
	   LEFT JOIN sellers s 
	     ON  p.sel_id = s.sel_id
	  WHERE d.odd_st = '결제완료'
	    AND s.sel_id = #{sel_id};
	</select>
	
<!-- 	판매자 메인 이번달 매출액 -->
	<select id="revenue" parameterType="String">
	 SELECT IFNULL(FORMAT(SUM(d.odd_am), 0), 0) AS acc
	   FROM orders o
	   LEFT JOIN order_details d
		 ON o.ord_id = d.ord_id
	   LEFT JOIN options t
	     ON d.opt_id = t.opt_id
	   LEFT JOIN products p
	     ON t.prd_cd = p.prd_cd
	   LEFT JOIN sellers s 
	     ON  p.sel_id = s.sel_id
	  WHERE s.sel_id = #{sel_id}
	    AND DATE_FORMAT(o.ord_at, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-%m');
	</select>

</mapper>