<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.unipick.mapper.SellerMapper">
	<insert id="sellerjoin" parameterType="map">
		INSERT INTO sellers(sel_id, 
					        sel_pw, 
					        sel_nm, 
					        adm_id, 
					        sel_rn,
					        sel_mn,
					        sel_cs, 
					        sel_br, 
					        sel_ad, 
					        sel_bf, 
					        sel_st, 
					        sel_at
		  )VALUES (#{storeId},
			 	   #{storePw},
			 	   #{storeNm},
			 	   'admin',
			 	   #{ceoNm},
			 	   #{phNm},
			 	   #{storeNumber},
			 	   #{brn},
			 	   #{storead},
			 	   #{sel_bf},
			 	   'ss01',
			 	   DEFAULT)
			 		
	</insert>
	
	<select id="sellerselect" resultType="map">
		select sel_id
		  from sellers
		 where sel_id = #{storeId}
	</select>
	
	<!-- 상품 상세 조회 -->
	<select id="productDetail" parameterType="map">
		select prd_nm, prd_cd, prd_op, prd_sp, prd_ca
		  from products
		 where prd_cd = #{prd_cd}
	</select>
	
<!-- 	주문 상세 조회 -->
	<select id="sellerOrdPrdDetail" parameterType="map">
	 SELECT pd.prd_cd, pd.prd_nm, ot.siz_nm, ot.clr_nm, odd.odd_qt,
		    bu.buy_em, bu.buy_nm, bu.buy_ph, od.ord_dm, 
	        odd.odd_am, od.ord_pm
	   FROM products pd 
	   JOIN options ot
		 ON pd.prd_cd = ot.prd_cd
	   JOIN order_details odd
		 ON ot.opt_id = odd.opt_id
	   JOIN orders od 
		 ON pd.prd_cd = od.prd_cd
	   JOIN buyers bu
		 ON od.buy_em = bu.buy_em
      WHERE pd.prd_cd = #{prd_cd}
	</select>



</mapper>